# Flask App Secret Key (It's recommended to change this for production)
SECRET_KEY=

# Domain Configuration (these should match your production domains)
FRONTEND_URL=

# Email SMTP Credentials (for Zoho Mail)
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Firebase Client SDK Configuration
FIREBASE_ADMIN_SDK_PATH=

# Google reCAPTCHA v3 Keys
# Get these from your Google Cloud Console for the reCAPTCHA Enterprise API
RECAPTCHA_PROJECT_ID=
RECAPTCHA_SITE_KEY=
RECAPTCHA_THRESHOLD_SCORE=

# AWS S3 Bucket configuration
S3_BUCKET_NAME = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_DEFAULT_REGION=
MAX_FILE_SIZE=
ALLOWED_FILE_EXTENSIONS=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Social media links
LINKEDIN_LINK = 
LINKEDIN_ICON = 

X_ICON = 
X_LINK = 

WEBSITE_LINK = 

EMAIL_HEADER_IMAGE = 

PAYMENT_LINK = 
