# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# Flask session and cache
flask_session/

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

firebase

# Editor/IDE directories
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

routes_list.txt

old_requirements.txt

migrations